#mainDivLibrary {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesDivScroller {
    width: 80%;
}

.categoriesDivScroller .scroller_inner {
    display: flex;
    padding-block: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.categoriesDivScroller .ulCategoriesTagList {
    width: 100%;
    position: relative;
    scrollbar-width: none;
}

.categoriesDivScroller .liCategoriesLibrary {
    white-space: nowrap;
    padding: 2px 12px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 2px 4px 5px;
    transition: filter 0.2s ease-in-out;
}

.categoriesDivScroller .liCategoriesLibrary:hover {
    cursor: pointer;
    filter: saturate(150%) brightness(110%);
}

.categoriesDivScroller .ulCategoriesLibrary::-webkit-scrollbar {
    display: none;
}

.categoriesDivScroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.categoriesDivScroller[data-animated="true"] .ulCategoriesTagList {
    flex-wrap: nowrap;
    width: fit-content;
    animation: scroll var(--animation-duration, 350s) var(--animation-direction, forwards) linear infinite;
}

.categoriesDivScroller[data-direction="right"] {
    --animation-direction: reverse;
}

.categoriesDivScroller[data-direction="left"] {
    --animation-direction: forwards;
}

#divCategorySelected {
    padding: 2px 12px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
    gap: 5px;
    display: flex;
}

#divCategorySelected:hover {
    background-color: rgba(255, 0, 0, 0.8) !important;
    cursor: pointer;
}

@keyframes scroll {
    100% {
        transform: translate(calc(-50% - 0.5rem));
    }
}

#divSearchInputLibrary {
    height: 30px;
    width: 450px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
}

#divSearchInputLibrary input {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 0px 40px;
    width: 100%;
    height: 100%;
}

#divSearchInputLibrary #iconSearchLibrary {
    height: 100%;
    padding: 8px;
    margin-left: 5px;
    display: flex;
    width: auto;
    position: absolute;
}

#divSearchInputLibrary #iconXLibrary {
    position: absolute;
    display: flex;
    right: 0px;
    height: 100%;
    width: 20px;
    margin-right: 10px;
}

#divSearchInputLibrary #iconXLibrary svg {
    height: 100%;
    padding: 4px;
    transition: fill 0.1s ease-in-out;
}

#divSearchInputLibrary #iconXLibrary:hover {
    cursor: pointer;

    & svg path {
        fill: red;
    }
}

#divSearchInputLibrary #iconSearchLibrary:hover {
    cursor: text;
}

#insideDivLibrary {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#insideDivLibrary .divBooks {
    width: 200px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

#insideDivLibrary .divImageBooks {
    display: flex;
    justify-content: center;
    height: 380px;
    transition-property: transform, filter;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    animation: 2s linear 0s infinite normal none running skeleton-books;
}

@keyframes skeleton-books {
    0% {
        background-color: rgb(225, 225, 225);
    }

    50% {
        background-color: rgb(202, 202, 202);
    }

    100% {
        background-color: rgb(225, 225, 225);
    }
}

#insideDivLibrary .divImageBooks:hover {
    cursor: pointer;
    transform: scale(1.02);
    filter: brightness(102%);
}

#insideDivLibrary .divImageBooks img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

#insideDivLibrary .divDetailsBooks {
    margin-top: 10px;
}

#insideDivLibrary .divTitleBooks {
    height: 55px;
    overflow-x: auto;
    scrollbar-width: none;
}

#insideDivLibrary .divTitleBooks::-webkit-scrollbar {
    display: none;
}

#insideDivLibrary .bookTitleSpan {
    font-weight: bold;
    font-size: 1.1rem;
}

#insideDivLibrary .authorsUlBooks {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

#insideDivLibrary .authorsUlBooks::-webkit-scrollbar {
    display: none;
}

#insideDivLibrary .authorLiBooks {
    color: rgb(0, 104, 255);
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
    flex-shrink: 0;
}

#insideDivLibrary .authorLiBooks:hover {
    color: rgb(70, 143, 251);
    cursor: pointer;
}

#insideDivLibrary .categoryUlBooks {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-top: 8px;
    scrollbar-width: none;
}

#insideDivLibrary .categoryUlBooks::-webkit-scrollbar {
    display: none;
}

#insideDivLibrary .categoryLiBooks {
    flex-shrink: 0;
    padding: 2px 12px;
    border-radius: 5px;
    font-size: 0.8rem;
}

#divPackPaginationLibrary {
    display: flex;
    gap: 15px;
}

#divLibraryPagination {
    margin: 80px 0px;
    display: flex;
    gap: 20px;
}

#divNumbersPagination {
    display: flex;
    align-items: center;
}

#divLibraryPagination .arrowsPagination {
    color: rgb(0, 104, 255);
    transition: color 0.2s ease-in-out;
}

#divLibraryPagination .arrowsPagination:hover {
    cursor: pointer;
    color: rgb(70, 143, 251);
}

#divLibraryPagination .ulPaginationLibrary {
    display: flex;
    font-size: 1.3rem;
    gap: 10px;
}

#divLibraryPagination .liPaginationLibrary {
    color: rgb(0, 104, 255);
    transition: color 0.2s ease-in-out;
}

#divLibraryPagination .liPaginationLibrary:hover {
    cursor: pointer;
    color: rgb(70, 143, 251);
}

#divLibraryPagination .divArrowsLibrary {
    display: flex;
    align-items: center;
    gap: 6px !important;
}

#modalBook {
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 70%;
    height: 70vh;
    background-color: rgb(250, 250, 250);
    z-index: 1000;
}

#modalBook #iconXModalBook {
    width: 60px;
    height: 60px;
    padding: 20px;
    position: absolute;
    right: 0px;
    display: flex;
}

#modalBook #iconXModalBook svg {
    width: 100%;
    height: 100%;
    display: flex;

    & path {
        transition: fill 0.2s ease-in-out;
    }
}

#modalBook #iconXModalBook svg:hover {
    cursor: pointer;

    & path {
        fill: red;
    }
}

#modalBook #divBookModalContent {
    display: flex;
    padding: 50px;
    align-items: center;
    width: 100%;
}

#modalBook #divBookModalImg {
    width: 30%;
    min-width: 160px;
    display: flex;
    justify-content: center;
    position: relative;
}

#modalBook #divBookModalImg img {
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 255px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    animation: 1.5s linear 0s infinite normal none running skeleton-books;
    z-index: 10000 !important;
}

#modalBook #divBookModalDetails {
    height: 100%;
    width: 70%;
    padding: 0px 20px;
    font-size: 1.1rem;
    overflow: hidden auto;
}

#modalBook #divBookModalDetails::-webkit-scrollbar {
    width: 4px;
}

#modalBook #divBookModalDetails::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
}

#modalBook #divBookModalDetails::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250) !important;
}

#modalBook #divBookModalDetails h3 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

#modalBook #divBookModalDetails .authorsUlBooksModal {
    display: flex;
    gap: 5px;
    color: rgb(0, 104, 255);
    font-size: 1.2rem;
    overflow: auto hidden;
    white-space: nowrap !important;
}

#modalBook #divBookModalDetails .authorsUlBooksModal::-webkit-scrollbar {
    height: 4px;
}

#modalBook #divBookModalDetails .authorsUlBooksModal::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
}

#modalBook #divBookModalDetails .authorsUlBooksModal::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250) !important;
}

#modalBook #divBookModalDetails .authorLiBooksModal:hover {
    cursor: pointer;
    color: rgb(59, 139, 255);
}

#modalBook #divBookModalDetails .authorsUlBooksModal::before {
    content: "Autor/es:Â ";
    color: black;
    font-weight: bold;
}

#modalBook #divBookModalDetails #pagesBookModal::before {
    content: "Cantidad de PÃ¡ginas:Â ";
    color: black;
    font-weight: bold;
}

#modalBook #divBookModalDetails p {
    height: 170px;
    text-align: justify;
    overflow: hidden auto;
    padding: 5px 5px 50px;
    mask: linear-gradient(360deg, transparent, white 20%);
}

#modalBook #divBookModalDetails p::-webkit-scrollbar {
    width: 4px;
}

#modalBook #divBookModalDetails p::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
}

#modalBook #divBookModalDetails p::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250) !important;
}

#modalBook #divBookModalDetails .categoryUlBooksModal {
    display: flex;
    gap: 10px;
    font-size: 1rem;
    margin-top: 20px;
    overflow: auto hidden;
}

#modalBook #divBookModalDetails .categoryLiBooksModal {
    padding: 2px 12px;
    border-radius: 5px;
    font-size: 0.8rem;
}

#divImgModalAuthor .imgAuthor {
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px !important;
}

#divBooksAuthors {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 230px;
    overflow: hidden auto;
    mask: linear-gradient(360deg, transparent, white 20%);
    margin-top: 20px;
    padding-bottom: 50px;
}

#divBooksAuthors::-webkit-scrollbar {
    width: 4px;
}

#divBooksAuthors::-webkit-scrollbar-thumb {
    background-color: lightgray !important;
}

#divBooksAuthors::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250) !important;
}

#divBooksAuthors .divEachBookAuthors {
    width: 130px;
}

#divBooksAuthors .divTitleAuthorBook {
    height: 60px;
    overflow: hidden auto;
}

#divBooksAuthors .divTitleAuthorBook::-webkit-scrollbar {
    display: none;
}

#divBooksAuthors .imgAuthorBook {
    height: 180px;
    margin-top: 20px;
    animation: 1.5s linear 0s infinite normal none running skeleton-books;
}

#divBooksAuthors .imgAuthorBook:hover {
    cursor: pointer;
}

.loaderLibrary {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, rgb(255, 165, 22) 94%, rgba(0, 0, 0, 0)) center top / 8px 8px no-repeat, conic-gradient(rgba(0, 0, 0, 0) 30%, rgb(255, 165, 22));
    mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 8px), rgb(0, 0, 0) 0px);
    animation: 1s linear 0s infinite normal none running l13;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn);
    }
}

#loaderAuthors {
    position: absolute;
    top: 45%;
    left: 46%;
}

@media only screen and (max-width: 1200px) {
    #insideDivLibrary {
        width: 95%;
        gap: 40px;
    }

    .categoriesDivScroller {
        width: 95%;
    }

    .categoriesDivScroller .liCategoriesLibrary {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 976px) {
    #insideDivLibrary .divBooks {
        width: 160px;
        height: 360px;
    }

    #insideDivLibrary .divImageBooks {
        height: 230px;
    }
}

@media only screen and (max-width: 780px) {
    #modalBook {
        border: 0px;
        border-radius: 0px;
        position: fixed;
        top: 80px;
        left: 0%;
        transform: translate(0%, 0%);
        width: 100%;
        height: 92%;
        background-color: rgb(250, 250, 250);
    }

    #divBookModalDetails {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
    }

    #divBookModalDetails h3 {
        text-align: center;
    }

    #divBookModalImg {
        display: none !important;
    }

    #divImgClone {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #imgBookMobileModal {
        display: flex !important;
        width: 200px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px !important;
        justify-self: center;
        margin: 10px 0px 30px 0px;
        min-height: 255px;
    }
}

@media only screen and (max-width: 604px) {
    #insideDivLibrary {
        gap: 25px 15px;
    }

    #divSearchInputLibrary {
        width: 90%;
    }

    #divBookModalContent {
        padding-inline: 0px !important;
    }
}