.hamburger {
    cursor: pointer;
    position: relative;
}

/* #headerFirstDiv {
    transition: background-color .5s ease-in-out;
} */

.line {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.line1, .line3 {
    transform-origin: 50% 50%;
}

.open .line1 {
    transform:  translate(0, 7px); 
}

.open .line2 {
    transform: translate(0, 0px);
}

.open .line3 {
    transform:  translate(0, -7px); 
}

.open .rotate1 {
    transform:  translate(-6px, 4px) rotate(45deg); 
}

.open .rotate2 {
    transform:  translate(0px, 0px) rotate(45deg); 
}

.open .rotate3 {
    transform:  translate(-5.6px, -5.4px) rotate(-45deg); 
}

@media only screen and (min-width: 781px) {
    .hiddenNavBar {
        display: none;
    }

    .h2HeaderDisplay {
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    header nav {
        display: none !important;
    }

    #navBarToShow {
        display: flex !important;
    }
    
    header {
        justify-content: flex-start !important;
        padding: 0 !important;
    }

    #divLogoChurch {
        justify-content: flex-start;
        width: 240px;
        margin-left: 20px !important;
        display: flex;
    }
    
    #divLogoChurch div {
        display: flex;
        justify-content: center;
    }

    #menuListButton {
        margin-right: 25px;
        align-self: center;
        position: absolute;
        right: 0;
    }

    #menuListButton:hover {
        cursor: pointer;
    }

    .hiddenMenu {
        display: flex;
        position: absolute;
        width: 100% !important;
        color: white;
        background-color: #393939 !important;
        right: 0;
        top: 80px;
        z-index: 1 !important;
        transform: translateY(-150%);
        transition: transform .5s linear;
    }

    #navBarToShow ul li:not(:last-child) {
        border-bottom: 1px rgba(255,255,255,0.1) solid;
    }

    .active {
        transform: translateX(0%);
    }

}

