@media only screen and (min-width: 1471px) {
    .owl-carousel {
        width: 1400px;
    }

    .game-section h3 {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    #pictureBannersPages {
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-attachment: fixed !important;
        transform: none !important;
    }

    .pictureBannersPages-about {
        background-position: center -50px !important;
    }

    .pictureBannersPages-leaders {
        background-position: center -15px !important;
    }

    .pictureBannersPages-sermons {
        background-position: center -150px !important;
    }

    .pictureBannersPages-gospel {
        background-position: center -150px !important;
    }

    .pictureBannersPages-give {
        background-position: center -100px !important;
    }

    .pictureBannersPages-privacy {
        background-position: center -0px !important;
    }

    .pictureBannersPages-anbi {
        background-position: center -150px !important;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1500px) {
        .pictureBannersPages-sermons {
            background-position: center -40px !important;
        }

        .pictureBannersPages-leaders {
            background-position: center -15px !important;
        }

        .pictureBannersPages-give {
            background-position: center -100px !important;
        }

        pictureBannersPages-privacy {
            background-position: center -200px !important;
        }

        .pictureBannersPages-anbi {
            background-position: center -100px !important;
        }
    }
}

@media only screen and (max-width: 1250px) {
    #contactBackground {
        background-size: contain 100% !important;
        background-position: left -100px !important;
        background-attachment: local !important;
    }
}

@media only screen and (max-width: 1145px) {
    .game-section .item.active .item-desc {
        height: 170px !important;
    }
}

@media only screen and (max-width: 1194px) {
    #giveMainDiv {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1100px) {
    .custom-carousel {
        flex-direction: column;
    }

    .game-section {
        padding: 30px 100px !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .game-section .item {
        flex: 0 0 auto;
        margin: 0;
        width: 100%;
        height: 10vh;
        margin-bottom: 10px;
    }

    .game-section .item.active {
        width: 100%;
        height: 45vh;
    }

    .game-section .item.active .item-desc {
        height: 130px !important;
    }

    .game-section h3 {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 1094px) {
    .divGospelBlocks {
        width: 50%;
    }

    .divGospelImg {
        width: 50%;
    }
}

@media only screen and (max-width: 1050px) {
    .is-active span {
        width: 75%;
        margin-left: 12%;
    }

    #firstNav {
        margin-right: 10px !important;
    }

    #firstNav ul {
        gap: 12px;
    }

    .divGospelBlocks {
        width: 100%;
    }

    .divGospelImg {
        display: none;
        border-bottom: none;
    }

    .divAgenda1 {
        flex-direction: column-reverse !important;
        align-items: center;
    }

    .divAgenda2 {
        flex-direction: column !important;
        align-items: center;
    }

    .divAgenda1Img {
        display: flex;
        width: 100%;
    }

    .divAgenda {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #videoAgenda1 {}
}

@media only screen and (max-width: 1035px) {
    #section3 {
        flex-direction: column;
        height: auto;
    }

    #divLatestSermons {
        width: 100%;
    }

    #videoLatestSermon {
        width: 100% !important;
    }

    #divSelectedMessages {
        flex-direction: row;
        padding-bottom: 20px;
    }

    #cookieDivRow {
        flex-direction: column;
        align-items: flex-start;
    }

    #cookieDivP {
        width: 100%;
        margin-bottom: 30px;
    }

    #cookieDivButton {
        width: 100%;
    }

    .divPrivacy {
        padding: 40px 100px;
    }
}

@media only screen and (max-width: 990px) {
    .game-section .item.active .item-desc {
        height: 140px !important;
    }
}

@media only screen and (max-width: 932px) {
    #divContainerLeader {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    #divContainerLeader div h2 {
        display: block;
        position: absolute;
        bottom: 50px;
        padding: 0px 0px;
        margin: 0px 0px;
        background-color: rgb(255, 255, 255);
        padding: 0 10px;
    }

    #divContainerLeader div h3 {
        padding: 0 15px;
    }

    #divContainerImageLeader2 {
        order: 0;
    }

    #leaderMinistry {
        display: block;
        position: absolute;
        bottom: 20px;
        background-color: rgb(234, 234, 234);
        width: 40%;
    }

    #divContainerImageLeader {
        z-index: 10;
    }

    #divLeaders {
        width: 80%;
        margin-top: -45px;
        margin-bottom: 40px;
        padding: 30px 20px;
        z-index: 0;
        mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
    }

    #divLeaders p {
        text-align: left;
    }
}

@media only screen and (max-width: 823px) {

    #map {
        display: flex;
        height: 300px;
        width: 90%;
        padding-bottom: 30px;
    }

    #logoBackgroundFooter {
        background-attachment: local !important;
        background-position: 30vw 305px !important;
        background-size: 500px auto;
        flex-direction: column;
        padding: 0;
    }

    #footerInfo {
        height: 300px;
        width: 400px;
        flex-wrap: wrap !important;
        flex-direction: row !important;
        padding: 0;
        justify-content: center !important;
        text-align: center;
    }

    #divLocationFooter {
        width: 160px;
    }

    #divSocial div p {
        justify-content: center !important;
    }

    #divLocationFooter address div h6 {
        color: #ffd277;
    }

    #footerInfo div {
        justify-content: center;
        padding: 0;
    }

    .divPrivacy {
        padding: 40px 30px !important;
        text-align: left;
    }

    #logoOutlineBackground {
        width: 100%;
        align-content: flex-start;
    }

    #logoOutlineBackground svg {
        height: auto;
    }
}

@media only screen and (max-width: 740px) {
    .game-section {
        padding: 30px 50px !important;
    }
}

@media only screen and (max-width: 730px) {
    #pictureBannersPages {
        height: 200px !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center 0px !important;
    }

    /* .pictureBannersPages-leaders {
        background-position-y: ;
    } */

    #contactBackground {
        background-size: cover !important;
        background-position: top !important;
        background-attachment: local !important;
    }

    #pContact {
        margin: 10px 30px;
        margin-bottom: 30px;

        span {
            display: none;
        }
    }

    #section3 {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    #divLatestSermons {
        width: 100%;
    }

    #videoLatestSermon {
        width: 100% !important;
    }

    #youtube-iframe {
        width: 100%;
    }

    #divSelectedMessages {
        width: 100% !important;
        flex-direction: column !important;
    }

    #divSelectedMessages #player2 {
        width: 100%;
        height: 384px;
    }

    #divSelectedMessages #player3 {
        display: none !important;
    }
}

@media only screen and (max-width: 680px) {
    .divGospelBlocks {
        padding: 10%;
    }

    .divGospelBlocks p {
        text-align: left;
    }
}

@media only screen and (max-width: 649px) {
    .game-section {
        padding: 30px 20px !important;
    }
}

@media only screen and (max-width: 608px) {
    .game-section .item.active .item-desc {
        height: 165px !important;
    }
}

@media only screen and (max-width: 550px) {
    #section3 {
        padding: 2rem 20px;
    }

    #videoLatestSermon {
        height: 300px;
    }

    #youtube-iframe {
        width: 100%;
    }

    #divSelectedMessages {
        height: 300px;
    }

    #divSelectedMessages #player2 {
        width: 100%;
        height: 300px;
    }

    #cookieDiv {
        padding: 30px;
    }
}

@media only screen and (max-width: 510px) {
    #divContainerLeader {
        padding: 0px;
    }

    #divLeaders {
        width: 92%;
    }

    #divLeaders p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 482px) {
    .game-section .item.active .item-desc {
        height: 190px !important;
    }
}

@media only screen and (max-width: 405px) {
    .game-section {
        padding: 30px 10px !important;
    }

    .game-section .item.active .item-desc {
        height: 215px !important;
    }

    #divContainerImageLeader {
        width: 90% !important;
    }

    #divContainerImageLeader2 {
        width: 90%;
    }

    #leaderPicture {
        width: 100%;
        position: relative;
    }

    .loaderAuthor {
        width: 100%;
        height: 100% !important;
    }

    .grayDivLoader {
        display: none;
    }
}

@media only screen and (max-width: 345px) {
    .game-section {
        padding: 30px 5px !important;
    }

    .game-section .item.active .item-desc {
        height: 245px !important;
    }
}